<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header::common-header">
<meta charset="ISO-8859-1">
<title>Account</title>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
 --><!--  -->
    <link th:href="@{/css/myaccount.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<div id="addProductPanel">hay there</div>

<body >
<div th:replace="common/header::navbar"></div>
<div class="container">
<a style="margin-left: 95%" th:href="@{/product/add}"  class="btn btn-primary" >Add Product</a>
<div class="row gutters" id="myAccount">
<div class="row ">
	<div class="card-body">
	
		<div class="account-settings">
			<div class="user-profile">
				<div class="user-avatar">
<!-- 					<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
 -->				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<h3 style="text-align: center;">Product Information</h3>

<div class="card h-100">


<form th:action="@{/product/edit}" method="post" enctype="multipart/form-data">

<div class="card-body" >
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="username">
			<!-- <h3><Strong th:text="${#strings.toUpperCase(user.username)}"></strong></h3> -->
			</div>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
			<input hidden="hidden" name="id" th:value="${storeProduct.id}" />
			
			
				<div class="form-group">
				<label>Product Name</label>
					<input type="text" th:value="${storeProduct.product.productname}" name="productname"   class="form-control"  placeholder="firstname">
				</div>
				<div class="form-group">
				<label>Current Price</label>
					<input type="text" th:value="${storeProduct.product.currentprice}"  name="currentprice"  class="form-control"  placeholder="lastname">
				</div>
				<div class="form-group">
				<label>Product Name</label>
					<input type="text" th:value="${storeProduct.product.wasprice}"  name="wasprice" class="form-control"  placeholder="phone">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
				<label>Description</label>
					<input type="text" th:value="${storeProduct.product.description}" name="description" class="form-control" >
				</div>
				<div class="form-group">
				<label>Status</label><br>
					<label><input value="true" type="radio" name="status"checked="checked" /> Available </label>
					 <label><input value="false" type="radio" name="status" /> Unavailable </label> <span class="help-block">
					</span>
				</div>
				<div class="form-group">
				<label>#</label>
					<input type="password" name="password" class="form-control"  placeholder=" current password">
				</div>
			</div>
			
				
				<div class="form-group" style="width: 200px;margin-left: auto;margin-right: auto;">
					<label>Product Image</label>
					<input type="file" name="file"  class="form-control" placeholder="product image" >
				</div>
			
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
					<button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
				</div>
			</div>
		</div>
		</form>
		
		<!-- method of payment linked with the account -->
		
		
	</div>
	
</div>
</div>
<!-- add product panel -->
</div>


    <script src="/js/script.js"></script>

</body>
</html>