<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header::common-header">
<meta charset="ISO-8859-1">
<title>Account</title>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
 --><!--  -->
    <link th:href="@{/css/myaccount.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body >
<div th:replace="common/header::navbar"></div>
<div class="container">

<div class="row gutters" id="myAccount">
<div class="row ">
	
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 myaccount">
<h3 style="text-align: center;">Account Information</h3>

<div style="align-items: center;padding-top: 5px"class="card h-100">
<p th:if="${updateSuccess}"
				style="color: green; text-align: center" class="alert alert-success">Update Successful </p>
				<p style="color: red; text-align: center" th:if="${incorrectPassword}" class="alert alert-info">Incorrect Password</p>
				<div class="card-body" >
				
<form th:action="@{/updateAccount}" method="post">
<input type="hidden" name="id" th:value="${user.id}" />
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="username">
			<h3><Strong th:text="${#strings.toUpperCase(user.username)}"></strong></h3>
			</div>
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
			
			
				<div class="form-group">
					<input type="text" th:value="${user.firstName}" name="firstName"   class="form-control"  placeholder="firstname">
				</div>
				<div class="form-group">
					<input type="text" th:value="${user.lastName}"  name="lastName"  class="form-control"  placeholder="lastname">
				</div>
				<div class="form-group">
					<input type="text" th:value="${user.phone}"  name="phone" class="form-control"  placeholder="phone">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<input type="text" name="username" th:value="${user.username}"class="form-control" placeholder="username">
				</div>
				<div class="form-group">
					<input type="email" name="email" th:value="${user.email}" class="form-control" placeholder="email address" >
				</div>
				<div class="form-group">
					<input type="password" name="password"  class="form-control"  placeholder=" current password">
				</div>
				</div>
				<div class="col-xl-6 col-lg-12 col-md-6 ">
			
				<div class="form-group" style="width: 200px;margin-left: auto;margin-right: auto;">
				<span style="color:red"id="checkPasswordMatch"></span>
					<input type="password" id="newPassword" name="newpassword" class="form-control"  placeholder=" new password">
				</div>
				<div class="form-group" style="width: 200px;margin-left: auto;margin-right: auto;">
					<div th:if="${unmatchingPasswords}"
				style="color: green; text-align: center" class="alert alert-info">passwords do not match </div>
					<input type="password"  id="confirmPassword"  class="form-control" placeholder="confirm password" >
				</div>
				</div>
			
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<button type="button"  name="cancel" class="btn btn-secondary">Cancel</button>
					<button type="submit" id="updateUserInfo" name="submit" class="btn btn-primary">Update</button>
				</div>
			</div>
		</div>
		</form>
		
		<!-- <div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mt-3 mb-2 text-primary">Shipping Address</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="Street">Street</label>
					<input name="street" class="form-control" id="Street" placeholder="Enter Street">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="ciTy">City/Town</label>
					<input name="city" class="form-control" id="ciTy" placeholder="Enter City">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="sTate">State/Province</label>
					<input type="text" class="form-control" id="sTate" placeholder="Enter State">
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="zIp">Zip Code</label>
					<input type="text" class="form-control" id="zIp" placeholder="Zip Code">
				</div>
			</div>
		</div> -->
		<!-- method of payment linked with the account -->
		
		
		</div>
	</div>
</div>
</div>
</div>
<!-- add product panel -->

<div th:replace="common/header :: footer" />
    		<script th:src="@{/js/script.js}"></script>


</body>
</html>